@model CarApp.Models.Car
@{
    ViewData["Title"] = "Guess the Price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3 my-3 border">
    <h1>Guess the Price</h1>
    <hr />
    @if(ViewBag.message != null)
    {
        <div style="background-color:seagreen;text-align:center;font: 1.8em 'Fira Sans', sans-serif;padding:5px;width:100%;color:white;">
            @ViewBag.message
        </div>
    }
    @if(ViewBag.messageMaxGuestAttempts != null)
    {
        <div style="background-color:orangered;text-align:center;font: 1.8em 'Fira Sans', sans-serif;padding:5px;width:100%;color:white;">
            @ViewBag.messageMaxGuestAttempts
        </div>
    }
    <form asp-action="GuessPrice">
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Doors)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Doors)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-9">
            @Html.TextBox("price", "", new { maxlength = "10", onkeypress = "return allowOnlyNumbers(event);" })
        </dd>
    </dl>    
    <input type="hidden" asp-for="Id" />
        <input class="btn btn-primary" type="submit" value="Try" />
        <a class="btn btn-danger" asp-action="Index">Back</a>
    </form>
</div>